[submodule "GitSubModuleFirst"]
	path = GitSubModuleFirst
	url = git@github.com:SoJiaN/GitTestSubModuleFirst.git
[submodule "GitSubModuleSecond"]
	path = GitSubModuleSecond
	url = git@github.com:SoJiaN/GitTestSubModuleSecond.git